th {
    border: 1px solid gray;
    border-collapse: collapse;
    background-color: rgb(70, 16, 16);
    font-weight: 400;
    color: white;
}

th,td{
    padding: 10px;
}

table{
    margin-top: 10px;
}

button{
    padding: 10px 4px 10px 4px;
}

input[type="text"],input[type="password"],input[type="date"]{
    padding: 5px;
    width: 200px;
    margin-left: 10px;
}

label{
    margin-right: 10px;
}